In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/basic1.csv")
display(df)

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

### 숫자형 데이터

In [3]:
# 통계, 집계
df["f5"].mean()
df["f5"].median()
df["f5"].mode() # 최빈값
df["f5"].min()
df["f5"].max()
df["f5"].sum()
df["f5"].std()
df["f5"].var()
df["f5"].count() # NaN 제외하고
df["f5"].describe() # 한번에 여러가지 값 출력
df["f5"].quantile(0.5) # 분위수
df["f5"].corr(df["f1"]) # 상관계수
df["f5"].cov(df["f1"]) # 공분산
df["f5"].skew() # 왜도
df["f5"].kurt() # 첨도

# 변환
df["f5"] = df["f5"].abs()
df["f5"] = df["f5"].astype(int) # type conversion
df["f5"] = df["f5"].clip(0, 1) # 하한, 상한값을 지정하고 이후 값을은 상한과 하한으로 대체
df["f5_cumsum"] = df["f5"].cumsum()
df["f5_diff"] = df["f5"].diff() # 이전값과의 차이

# 결측치 처리
df["f5"].fillna(0)
df["f5"].dropna()

# 그룹별 통계
df.groupby("f4")["f5"].mean()

f4
ENFJ    1.0
ENFP    1.0
ENTJ    1.0
ENTP    1.0
ESFJ    1.0
ESFP    1.0
ESTJ    1.0
ESTP    1.0
INFJ    1.0
INFP    1.0
INTJ    1.0
INTP    1.0
ISFJ    1.0
ISFP    1.0
ISTJ    1.0
ISTP    1.0
Name: f5, dtype: float64

### 문자열 데이터

In [4]:
df[df["f4"].str.contains("apple")]
df[df["f4"].str.startswith("A")]
df[df["f4"].str.len() > 5]

df["col_upper"] = df["f4"].str.upper()
df["col_lower"] = df["f4"].str.lower()
df["col_stripped"] = df["f4"].str.strip()
df["col_replaced"] = df["f4"].str.replace("a", "b")
df["first_word"] = df["f4"].str.split(" ").str[0]
df["numbers"] = df["f4"].str.extract(r'(\d+)')
df["col_zfill"] = df["f4"].str.zfill(5) # 문자열 앞을 0으로 채워 고정 길이로 맞춤
df["col_pad"] = df["f4"].str.pad(10, fillchar='*') # 문자열 앞/뒤를 공백이나 특정 문자로 채움

# 기타 처리

In [5]:
df = df.drop(["f2", "f3"], axis=1)
df["f1"] = df["f1"].fillna(df["city"].map({"val1": 1, "val2": 2}))