# 작업형 1 예시문제

작업형1 예시문제
자동차 데이터 셋에서 qsec 컬럼을 Min-Max Scale로 변환 후 0.5보다 큰 값을 가지는 레코드(row) 수를 묻는 문제입니다.

In [1]:
import pandas as pd

df = pd.read_csv("../data/mtcars.csv")

df['qsec_minmax_scale'] = (df['qsec'] - min(df['qsec'])) / (max(df['qsec']) - min(df['qsec']))

print(len(df[df['qsec_minmax_scale'] > 0.5]))

9

# 2회 기출 유형1

문제1
데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,
'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후,
'age'컬럼에서 80 이상인 데이터의'f5 컬럼 평균값 구하기

문제2
데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,
'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고
두 표준편차 차이 계산하기

문제3
데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오!
단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [2]:
df = pd.read_csv("../data/basic1.csv")

In [3]:
df = df.sort_values('f5', ascending=False)

min_f5 = min(df["f5"].head(10))
print(min_f5)

91.29779092

In [4]:
df.iloc[:10, -1] = min_f5
result = df[df["age"] >= 80]["f5"].mean()
print("문제1 답: ", result)

문제1 답:  62.49774712521738

In [5]:
df = pd.read_csv("../data/basic1.csv")
df = df.head(round(len(df)*0.7))
std_before = df["f1"].std()

med = df["f1"].median()
df["f1"] = df["f1"].fillna(med)
std_after = df["f1"].std()

print("before:", std_before, "after:", std_after)
print("문제2 답:", std_before - std_after)

before: 17.98727579865276 after: 14.690773995256688
문제2 답: 3.2965018033960725

In [6]:
df = pd.read_csv("../data/basic1.csv")

age_mean = df["age"].mean()
age_std = df["age"].std()
upper_box, lower_box = age_mean + 1.5 * age_std, age_mean - 1.5 * age_std

result = df[df["age"] > upper_box]["age"].sum() + df[df["age"] < lower_box]["age"].sum()
print("문제3 답:", result)

문제3 답: 473.5

# 3회 기출 유형1

문제1 2022년 데이터 중 2022년 중앙값보다 큰 값의 데이터 수

문제2 결측치 데이터(행)을 제거하고, 앞에서부터 60% 데이터만 활용해, 'f1' 컬럼 3사분위 값을 구하시오. 60%가 소수점일 경우 절사(예: 36.6 일때 36으로 계산

문제3 결측치가 제일 큰 값의 컬럼명을 구하시오

In [7]:
import pandas as pd

df = pd.read_csv("../data/t1-data2.csv", index_col = "year")

med = df.loc["2022년"].median()

count = 0
for i in df.loc["2022년"]:
    if i > med:
        count += 1

print(count)
print(sum(df.loc["2022년"] > med))

50
50

In [8]:
df = pd.read_csv("../data/t1-data1.csv")

df = df.dropna()
df = df.reset_index()

df = df.iloc[:int(len(df) * 0.6)]
print(df["f1"].quantile(0.75))

77.25

In [9]:
df = pd.read_csv("../data/t1-data1.csv")

df.info()

df = df.isnull().sum()
print(df.index[3])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      90 non-null     object
 1   age     90 non-null     float64
 2   city    90 non-null     object
 3   f1      61 non-null     float64
 4   f2      90 non-null     int64
 5   f4      90 non-null     object
 6   f5      90 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 5.1+ KB
f1

# 4회 기출 유형 1

1-1. age 컬럼의 3사분위수와 1사분위수의 차를 절대값으로 구하고, 소수점 버려서, 정수로 출력

data_path: ../data/basic1.csv

1-2.(loves반응+wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, type 컬럼이 'video'인 데이터의 갯수

data_path: ../data/fb.csv


1-3. date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수

data_path: ../data/nf.csv

In [10]:
df = pd.read_csv("../data/basic1.csv")
df.head()

raw = abs(df["age"].quantile(0.75)-df["age"].quantile(0.25))
raw -= raw % 1
print(int(raw))

50

In [11]:
df = pd.read_csv("../data/fb.csv")

df = df[df["type"] == "video"]
df["calc"] = (df["loves"] + df["wows"]) / df["reactions"]

cnt = df["calc"].count() - len(df[df["calc"] <= 0.4]) - len(df[df["calc"] >= 0.5])
print(cnt)

# 효율적 풀이
cond1 = df["calc"] > 0.4
cond2 = df["calc"] < 0.5

print(len(df[cond1 & cond2]))

90
90

In [12]:
df = pd.read_csv("../data/nf.csv")

df.head(30)

df["year"] = df["date_added"].str.split(",").str[1].str.strip()
df["month"] = df["date_added"].str.split(" ").str[0]

cond1 = df["country"] == "United Kingdom"
cond2 = df["year"] == "2018"
cond3 = df["month"] == "January"

print(len(df[cond1 & cond2 & cond3]))

6

In [13]:
df = pd.read_csv("../data/train.csv")
df.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,4
1,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,2
2,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,2
3,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,3
4,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,3

### 이상치를 찾아라(소수점 나이)

주어진 데이터에서 이상치(소수점 나이)를 찾고 올림, 내림, 버림(절사)했을때 3가지 모두 이상치 'age' 평균을 구한 다음 모두 더하여 출력하시오

In [14]:
df = pd.read_csv("../data/basic1.csv")

def floor(num_f):
    return num_f - num_f % 1

def ceil(num_f):
    return num_f if num_f % 1 == 0 else floor(num_f) + 1

def trunc(num_f):
    return int(str(num_f).split(".")[0])

df["outlier"] = df["age"] % 1 != 0

result = 0
for age in df[df["outlier"]]["age"]:
    result += floor(age) + ceil(age) + trunc(age)
    
print(result / len(df[df["outlier"]]))

69.5

In [15]:
import numpy as np
df = pd.read_csv("../data/basic1.csv")

df = df[(df['age']-np.floor(df['age']))!= 0]

m_ceil = np.ceil(df['age']).mean()
m_floor = np.floor(df['age']).mean()
m_trunc = np.trunc(df['age']).mean()

print(m_ceil, m_floor, m_trunc)

print(m_ceil + m_floor + m_trunc)

23.75 22.75 23.0
69.5

### 결측치 처리

주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!

데이터셋 : basic1.csv

In [16]:
df = pd.read_csv("../data/basic1.csv")

print(df.isnull().sum() / df.isnull().count() * 100, "\n")

df = df.drop(["f3"], axis=1)
df_group = dict(df.groupby("city")["f1"].median())
df["f1"] = df["f1"].fillna(df["city"].map(df_group))

print(df["f1"].mean())

id       0.0
age      0.0
city     0.0
f1      31.0
f2       0.0
f3      95.0
f4       0.0
f5       0.0
dtype: float64

65.52

### 왜도와 첨도 구하기
주어진 데이터 중 train.csv에서 'SalePrice'컬럼의 왜도와 첨도를 구한 값과, 'SalePrice'컬럼을 스케일링(log1p)로 변환한 이후 왜도와 첨도를 구해 모두 더한 다음 소수점 2째자리까지 출력하시오

In [17]:
df = pd.read_csv("../data/train.csv")

df.info()

df["logAge"] = np.log(df["Age"])
result = df["Age"].skew() + df["Age"].kurt()
print(round(result, 2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
 10  Segmentation     6665 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 572.9+ KB
0.54