# 작업형 1 예시문제

작업형1 예시문제
자동차 데이터 셋에서 qsec 컬럼을 Min-Max Scale로 변환 후 0.5보다 큰 값을 가지는 레코드(row) 수를 묻는 문제입니다.

In [20]:
import pandas as pd

df = pd.read_csv("../data/mtcars.csv")

df['qsec_minmax_scale'] = (df['qsec'] - min(df['qsec'])) / (max(df['qsec']) - min(df['qsec']))

print(len(df[df['qsec_minmax_scale'] > 0.5]))

9

# 2회 기출 유형1

문제1
데이터셋(basic1.csv)의 'f5' 컬럼을 기준으로 상위 10개의 데이터를 구하고,
'f5'컬럼 10개 중 최소값으로 데이터를 대체한 후,
'age'컬럼에서 80 이상인 데이터의'f5 컬럼 평균값 구하기

문제2
데이터셋(basic1.csv)의 앞에서 순서대로 70% 데이터만 활용해서,
'f1'컬럼 결측치를 중앙값으로 채우기 전후의 표준편차를 구하고
두 표준편차 차이 계산하기

문제3
데이터셋(basic1.csv)의 'age'컬럼의 이상치를 더하시오!
단, 평균으로부터 '표준편차*1.5'를 벗어나는 영역을 이상치라고 판단함

In [21]:
df = pd.read_csv("../data/basic1.csv")

In [22]:
df = df.sort_values('f5', ascending=False)

min_f5 = min(df["f5"].head(10))
print(min_f5)

91.29779092

In [23]:
df.iloc[:10, -1] = min_f5
result = df[df["age"] >= 80]["f5"].mean()
print("문제1 답: ", result)

문제1 답:  62.49774712521738

In [24]:
df = pd.read_csv("../data/basic1.csv")
df = df.head(round(len(df)*0.7))
std_before = df["f1"].std()

med = df["f1"].median()
df["f1"] = df["f1"].fillna(med)
std_after = df["f1"].std()

print("before:", std_before, "after:", std_after)
print("문제2 답:", std_before - std_after)

before: 17.98727579865276 after: 14.690773995256688
문제2 답: 3.2965018033960725

In [25]:
df = pd.read_csv("../data/basic1.csv")

age_mean = df["age"].mean()
age_std = df["age"].std()
upper_box, lower_box = age_mean + 1.5 * age_std, age_mean - 1.5 * age_std

result = df[df["age"] > upper_box]["age"].sum() + df[df["age"] < lower_box]["age"].sum()
print("문제3 답:", result)

문제3 답: 473.5

# 3회 기출 유형1

문제1 2022년 데이터 중 2022년 중앙값보다 큰 값의 데이터 수

문제2 결측치 데이터(행)을 제거하고, 앞에서부터 60% 데이터만 활용해, 'f1' 컬럼 3사분위 값을 구하시오. 60%가 소수점일 경우 절사(예: 36.6 일때 36으로 계산

문제3 결측치가 제일 큰 값의 컬럼명을 구하시오

In [32]:
df = pd.read_csv("../data/t1-data2.csv")

df.head()

,year,0,1,2,3,4,5,6,7,8,...,90,91,92,93,94,95,96,97,98,99
0,2022년,69,37,57,70,40,75,8,67,89,...,79,56,98,21,14,25,17,10,60,17
1,2023년,52,13,22,70,92,80,8,56,17,...,62,47,59,6,25,96,69,87,28,64
2,2024년,88,44,32,55,64,8,4,2,62,...,98,95,40,59,69,71,86,53,93,64
3,2025년,80,97,15,4,74,12,100,60,47,...,30,11,2,54,9,52,51,81,78,22
4,2026년,64,66,62,56,67,80,90,24,58,...,93,15,88,67,7,82,5,61,15,63